.modalWindowWrapper {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.modalWindow {
    width: 410px;
    margin-top: 20px;
}

.modalHeader {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333333;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.modalHeader h2 {
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    margin-left: 21px;
}

.modalHeader .close {
    margin-right: 20px;
    cursor: pointer;
}

.modalContent {
    background-color: #ffffff;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.modalContent .prompt {
    width: 294px;    
    padding-top: 13px;
    padding-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.modalContent .prompt p {
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #555555;
}

.modalInput {
    width: 294px;    
    margin-left: auto;
    margin-right: auto;
}

.modalInput p {
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #777777;
}

.modalInput input {
    width: 285px;
    height: 36px;
    border-radius: 3px;
    border: solid 1px #cccccc;
    background-color: #f7f7f7;
    padding-left: 7px;
    padding-right: 0px;
    margin-top: 10px;
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #777777;
}

.modalContent .buttons {
    height: 75px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0 -3px 10px -4px rgba(0, 0, 0, 0.4);
    margin-top: 26px;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}

.modalContent .buttons .submitButton {
    width: 100px;
    height: 36px;
    border-radius: 3px;
    background-color: #4894d4;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.modalContent .buttons .cancelButton {
    width: 100px;
    height: 36px;
    border-radius: 3px;
    background-color: #999999;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

@media only screen and (max-width: 450px) {
    .modalWindow {
        width: 339px;
    }
}