@font-face {
  font-family: "HelveticaNeue";
  src: url(fonts/HelveticaNeue.ttf)       
}

body {
  background-color: black;      
}

button {
  margin: 0px;
  padding: 0px;
  border: none;
}

button, input {
  outline: none;
}
